/* General Reset */
body {
    margin: 0;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: space-between; /* Align items */
    align-items: center; /* Center items vertically */
    background-color: #4a90e2; /* Primary color */
    padding: 15px 30px; /* Spacing around navbar */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    font-family: 'Montserrat', sans-serif;
}

nav h2 {
    margin: 0;
    font-size: 26px;
    color: #fff; /* Text color */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Remove default margin */
    display: flex; /* Align list items in a row */
    align-items: center;
}

nav ul li {
    margin-left: 20px; /* Space between items */
}

nav a, .btn-logout {
    color: #fff; /* Link color */
    text-decoration: none; /* Remove underline */
    font-size: 18px;
    position: relative; /* Position for pseudo-elements */
    padding: 5px 0; /* Padding for better click area */
    transition: color 0.3s ease; /* Smooth color transition */
}

.btn-logout{
    color: #ffffff;
    cursor: pointer;
}

nav a:hover {
    color: #ffcc00; /* Color change on hover */
}

/* Active Link Styles */
nav a.active {
    font-weight: bold; /* Bold active link */
    border-bottom: 3px solid #ffcc00; /* Underline for active link */
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Stack items on smaller screens */
        align-items: flex-start; /* Align items to start */
    }

    nav ul {
        flex-direction: column; /* Stack list items */
        margin-top: 10px; /* Space above the list */
    }

    nav ul li {
        margin-left: 0; /* Reset left margin */
        margin-bottom: 10px; /* Space between items */
    }
}
